*.rbc
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
/spec/examples.txt
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
.env
/.bundle
/vendor/bundle
.rvmrc
.powenv
.byebug_history
