<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please confirm your Stronger Together account</h1>
    <p>
      Someone (hopefully you) has registered this email address (<%= @user.email %>) on the Stronger Together app.
    </p>
    <p>
      To confirm that it was you, please follow this link: https://safe-together.herokuapp.com/v1/users/confirm/<%= @user.confirm_token %>.
    </p>
    <p>If you did not register with us, do nothing!</p>
    <p>Thanks, and have a great day!</p>
  </body>
</html>
