<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been invited to join Stronger Together</h1>
    <p>
      <%= @friend.user.name %> has invited you to join Stronger Together.
    </p>
    <p>
      Stronger Together is a community that offers mutual assistance when one of it's members is threatened.
    </p>
    <p>
      To join, please follow this link: https://stronger-together.herokuapp.com/v1/friends/confirm/<%= @friend.invite_token %>.
    </p>
    <p>Thanks, and have a great day!</p>
  </body>
</html>
